---
---

@import "{{ site.theme }}";


#header {
	display: none;
}

section {
	margin-top: 10px;
	max-width: 1000px;
}


.wrapper, .container, .inner {
	max-width: 1000px;
}

img {
	max-width: 100%;
}

pre, code {
	background-color: #222;
	color: #eee;
}

.highlight {
	background-color: #222;
}

code.highlighter-rouge, a {
	overflow-wrap: break-word;
}

@import "rouge";
